*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    /* background-color: #f1d6d6fa; */
}
.head{
    text-align: center;
    margin-top: 2rem;
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
    padding-top: 100px;
}
.left,.right{
    flex-basis: 50%;
}
.left{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap: 2rem;
}
.card{
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.card img{
    margin: 0.5rem;
    width: 80px;
}
.card span{
    text-transform: capitalize;
}
.poke{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    width: 50%;
    text-align: center;
    position: fixed;
    top: 160px;
    right: 10px;
}
.right img{
    margin: 1rem;
    width: 200px;
}
.right h1{
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
}
.ability{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap:1rem;
}
.group{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
}
.btn-group{
    display: flex;
}

.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    color: #fff;
    background-color: rgb(158, 142, 142);
    border-radius: 8px;
    cursor: pointer;
}